.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px 0;
  width: 300px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
}

.input {
  width: auto;
  height: 25px;
  padding: 2px 8px;
  outline: transparent;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.error {
  color: rgb(250, 71, 0);
  font-size: 12px;
}

.btn {
  margin: 20px auto 0 auto;
  font-size: 18px;
  padding: 2px 8px;
  cursor: pointer;
  width: 120px;
  height: 30px;
}
